{{#> components/modal }}
  <form 
    {{#if todo}}
    hx-post="/update-todo/{{todo.id}}" 
    hx-select-oob="#todo-item-{{todo.id}},#modal"
    {{/if}}
    {{#unless todo }}
    hx-post="/create-todo" 
    hx-select-oob="#todo-list,#modal"
    {{/unless}}
    hx-trigger="submit"
  > 
    <input type="text" value="{{todo.title}}" name="title" required />

    <button type="submit" class="bg-blue-500 p-1">Save</button>
  </form>
{{/components/modal}}