{{#> components/modal }}
  <form 
    hx-post="/update-todo/{{todo.id}}" 
    hx-trigger="submit"
    hx-select-oob="#todo-list,#modal"
  > 
    <input type="text" value="{{todo.title}}" name="title" />

    <button type="submit" class="bg-blue-500 p-1">Save</button>
  </form>
{{/components/modal}}